
.wrraper h1,h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
/* Preloader */

.first-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: black;
}

h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, 50%);
    font-family: roboto;
    text-transform: uppercase;
    color: #ff1d5e;


}

.half-circle-spinner {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
    border-top-color: #ff1d5e;
    animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
    border-bottom-color: #ff1d5e;
    animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

.open {
    position: absolute;

}

/* Hamburger menu */

.burger {
    position: fixed;
    right: 5%;
    top: 2%;
    font-size: 40px;
    color: #564e4e;
    z-index: 500;

}

aside {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    bottom: 15%;
    right: -150px;
    width: 60px;
    background-color: black;
    opacity: 0.5;
    transition: linear .5s;
    z-index: 500;
    border-radius: 50px;

}

.burger .fas {
    display: none;
}

.burger i.show {
    display: block;
}

aside.show {
    right: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 80%;
    height: 80%;
}

.menu a {
    height: 30px;
    text-decoration: none;
    color: #ccc;
}

.menu i {
    font-size: 35px;
    color: white;
}

/* Section: main */

.main {
    height: 100vh;
    width: 100%;
    background-image: url(../images/main.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: auto; */
}

.main h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
}

.main h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;

}

.typed {
    border-bottom: 2px solid #ffffff;
}

.typed-cursor {
    opacity: 1;
    animation: a1 0.7s infinite;
}

@keyframes a1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    font-size: 50px;
}

.arrow a {
    color: white;
}

/* Section: about */
.about {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.about-us {
    margin: 0 10px;
    text-align: center;
    font-family: roboto, sans-serif;
}

.about-us img {
    width: 100%;
    height: 300px;
}

/* Section: project */

.project {
    min-height: 200vh;
    width: 90%;
    margin: 10px auto ;
    font-family: roboto, sans-serif;
    overflow: hidden;
}

.project h1 {
    text-align: center;
}
.gallery {
    height: 100%;
}
.gallery a {
    margin-bottom: 10px;
    
}
.gallery img {
    width: 100%;
    border-radius: 20px;
}

/* Section: footer */

footer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: #ABCAB8;
}

.footer-title {
   position: absolute;
   width: 100%;
   color: white;
   letter-spacing: 4px; 
}
.footer-icon {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 10%;
    left: 0;
    right: 0;
}
.footer-icon a {
    font-size: 40px;
    color: white;
}
div.adress {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;

    
}
div.adress p {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

/* Mapy Google */

#google-maps {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 80%;
    height: 50vh;
    opacity: 0;
    
    
}
#google-maps iframe {
    height: 100%;
    width: 100%;
    
}
#google-maps a {
    position: absolute;
    top: -11%;
    right: -10%;
    font-size: 30px;
    color: white;
}

#google-maps .on {
    
    opacity: 1;
    
    
}

/* Media Quaries */
@media (orientation: landscape) {
    .burger {
        right: 3%;
        top: 5%;
        font-size: 25px;
        color: #ccc;
    }

    aside {
        top: 18%;
        bottom: 18%;
        right: -100px;
        width: 60px;
    }

    .menu {
        justify-content: center;
        align-content: space-around;
        width: 80%;
        height: 80%;
    }   
    .menu i {
        font-size: 25px;
    }
    .main {
        height: 100vh;
        width: 100%;
        background-image: url(../images/main2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 40px;
        letter-spacing: 10px;
    }

    .main h2 {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 50%;
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 23px;
        text-align: center;

    }
    .project {
        min-height: 200vh;
        width: 90%;
        margin: 10px auto ;
        font-family: roboto, sans-serif;
        overflow: hidden;
    
    }
    .gallery {
        display: flex;
        height: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery a, img {
        width: 45%;
    }
    .footer-icon {       
        bottom: 5%;
    }
    .footer-icon a {
        font-size: 30px;
    }

    div.adress {
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
    
        
    }
    div.adress p {
        font-family: 'Lato', sans-serif;
        color: white;
        text-align: center;
        font-size: 15px;
    }

}
